apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - ../base/monitor/development
  - https://github.com/konflux-ci/release-service/config/default?ref=fa8b364846c11a0fcc5289a531a1288e693f8a6c
  - release_service_config.yaml

images:
  - name: quay.io/konflux-ci/release-service
    newName: quay.io/konflux-ci/release-service
    newTag: fa8b364846c11a0fcc5289a531a1288e693f8a6c

namespace: release-service

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: release-service-controller-manager
    path: manager-memory-patch.yaml
