apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - ../base/monitor/development
  - https://github.com/konflux-ci/release-service/config/default?ref=6c3b7ac5088985d26fa7aade2cd1c1727757b1f8
  - release_service_config.yaml

images:
  - name: quay.io/konflux-ci/release-service
    newName: quay.io/konflux-ci/release-service
    newTag: 6c3b7ac5088985d26fa7aade2cd1c1727757b1f8

namespace: release-service

patches:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: release-service-controller-manager
    path: manager-memory-patch.yaml
