apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- ../../base/external-secrets
- ../blackbox
- https://github.com/konflux-ci/mintmaker/config/default?ref=9be0ad172aacd80104b9f1bdc6e7aa6c3ede5af2
- https://github.com/konflux-ci/mintmaker/config/renovate?ref=9be0ad172aacd80104b9f1bdc6e7aa6c3ede5af2

namespace: mintmaker

images:
- name: quay.io/konflux-ci/mintmaker
  newName: quay.io/konflux-ci/mintmaker
  newTag: 9be0ad172aacd80104b9f1bdc6e7aa6c3ede5af2
- name: quay.io/konflux-ci/mintmaker-renovate-image
  newName: quay.io/konflux-ci/mintmaker-renovate-image
  newTag: 4345f81ecd381675c3f2d64889fa0ef0e3794571

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

patches:
  - path: manager-set-resources-patch.yaml
  - path: manager-enable-pprof-patch.yaml

configurations:
- kustomizeconfig.yaml

components:
  - ../../components/rh-certs
