apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- ../../base/external-secrets
- ../blackbox
- https://github.com/konflux-ci/mintmaker/config/default?ref=5c35c7895da32e535d6f58ebbb24f93c565d5af8
- https://github.com/konflux-ci/mintmaker/config/renovate?ref=5c35c7895da32e535d6f58ebbb24f93c565d5af8

namespace: mintmaker

images:
- name: quay.io/konflux-ci/mintmaker
  newName: quay.io/konflux-ci/mintmaker
  newTag: 5c35c7895da32e535d6f58ebbb24f93c565d5af8
- name: quay.io/konflux-ci/mintmaker-renovate-image
  newName: quay.io/konflux-ci/mintmaker-renovate-image
  newTag: 02e95a708d6527b5c64ede348eb816ae2b57dcff

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

patches:
  - path: manager-set-resources-patch.yaml
  - path: manager-enable-pprof-patch.yaml

configurations:
- kustomizeconfig.yaml

components:
  - ../../components/rh-certs
