apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - https://github.com/redhat-appstudio/o11y/config/exporters/monitoring/grafana/base?ref=d975d478064ed931c90c6864955d3156eec56229

images:
- name: quay.io/redhat-appstudio/o11y
  newName: quay.io/redhat-appstudio/o11y
  newTag: d975d478064ed931c90c6864955d3156eec56229

patches:
  - path: grafana-resources-patch.yaml
    target:
      name: grafana-oauth
      kind: Grafana
