apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - https://github.com/redhat-appstudio/o11y/config/exporters/monitoring/grafana/base?ref=88a9738f3da54d7b83dc65cbf6deaf57fc6e3a5e

images:
- name: quay.io/redhat-appstudio/o11y
  newName: quay.io/redhat-appstudio/o11y
  newTag: 88a9738f3da54d7b83dc65cbf6deaf57fc6e3a5e

patches:
  - path: grafana-resources-patch.yaml
    target:
      name: grafana-oauth
      kind: Grafana
