apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base
  - https://github.com/redhat-appstudio/o11y/config/exporters/monitoring/grafana/base?ref=5d22585d62a996565ceacaf5277a6103eb8f021d

images:
- name: quay.io/redhat-appstudio/o11y
  newName: quay.io/redhat-appstudio/o11y
  newTag: 5d22585d62a996565ceacaf5277a6103eb8f021d

patches:
  - path: grafana-resources-patch.yaml
    target:
      name: grafana-oauth
      kind: Grafana
