apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- https://github.com/konflux-ci/notification-service/config/default?ref=f7c604e2e18a3c2bf0f958c77b9a4c03e72d1738
- ../base/external-secrets

images:
  - name: quay.io/konflux-ci/notification-service
    newName: quay.io/konflux-ci/notification-service
    newTag: f7c604e2e18a3c2bf0f958c77b9a4c03e72d1738

namespace: notification-controller

patches:
  - path: external-secret-path.yaml
    target:
      name: aws-sns-secret
      kind: ExternalSecret
      group: external-secrets.io
      version: v1
  - path: topic_region_add.yaml
    target:
      name: notification-controller-controller-manager
      kind: Deployment
