apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-secrets-operator

resources:
- ../common

helmGlobals:
  chartHome: .

helmCharts:
- name: external-secrets
  releaseName: external-secrets-operator
  namespace: external-secrets-operator
  valuesFile: values.yaml

# Override the ESO image with the Konflux-built image
images:
  - name: ghcr.io/external-secrets/external-secrets
    newName: quay.io/konflux-ci/external-secrets-operator
    digest: sha256:PLACEHOLDER_UPDATE_WITH_ACTUAL_DIGEST
