apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://github.com/konflux-ci/tekton-kueue/config/default?ref=2d9ed72af45a909001983719c7b45309f1217aab

images:
- name: konflux-ci/tekton-kueue
  newName: quay.io/konflux-ci/tekton-kueue
  newTag: 2d9ed72af45a909001983719c7b45309f1217aab

namespace: tekton-kueue
# ensure that installation starts after the installation of kueue complete
commonAnnotations:
  argocd.argoproj.io/sync-wave: "10"

configMapGenerator:
  - name: tekton-kueue-config
    namespace: tekton-kueue
    behavior: replace
    files:
      - config.yaml

generatorOptions:
  disableNameSuffixHash: true

patches:
  - target:
      kind: Namespace
      name: tekton-kueue
    patch: |-
      - op: add
        path: /metadata/labels/openshift.io~1cluster-monitoring
        value: "true"
